@import '~include-media/dist/include-media';
@import '~open-color/open-color';
$red : #fa525252;
$orange: #fd7e14;
$yellow: #fcc419;
$green : #40c057;

@mixin square($size) {
    $calcuated: 32px * $size;
    width: $calcuated;
    height: $calcuated;
}
